$govuk-global-styles: true;
$nhsuk-global-styles: true;

@import "govuk/all.scss";
@import "node_modules/nhsuk-frontend/packages/nhsuk";
@import "node_modules/nhsuk-frontend/packages/core/all";
@import "../_components/all.scss";
@import "vendor/prism.scss";
@import "custom.scss";


@include govuk-media-query($media-type: print) {
  // Force a white background when printing a page
  .govuk-template {
    background: #fff;
  }
}
