.app-email {
  @include nhsuk-font($size: false);
  border: $nhsuk-border-width solid $nhsuk-border-color;
  padding: nhsuk-spacing(4);
  margin-bottom: nhsuk-spacing(8);
  max-width: 40rem;

  h1 {
    @extend %nhsuk-heading-xl;
  }

  h2 {
    @extend %nhsuk-heading-l;
  }

  h3 {
    @extend %nhsuk-heading-m;
  }

  p {
    @extend %nhsuk-body-m;
  }

  ol {
    @extend %nhsuk-list;
    @extend %nhsuk-list--number;
  }

  ul {
    @extend %nhsuk-list;
    @extend %nhsuk-list--bullet;
  }

  a { 
    // TODO change to nhs mixin
    @extend %govuk-link;
  }

  // Used when showing screenshots of HTML email
  img:first-of-type {
    margin: - nhsuk-spacing(4);
    width: calc(100% + #{nhsuk-spacing(4) + nhsuk-spacing(4)});
    max-width: none;
    outline: 0;
  }
}

.app-email__subject {
  padding-bottom: nhsuk-spacing(4);
  margin-top: 0;
  margin-bottom: nhsuk-spacing(4);
  border-bottom: 1px solid $nhsuk-border-color;
}
