.app-masthead {
  @include nhsuk-responsive-padding(6, "top");
  @include nhsuk-responsive-padding(6, "bottom");
  color: nhsuk-color("white");
  background-color: nhsuk-color("blue");
  //margin-top: #{govuk-spacing(2) * -1};
}

.app-masthead * {
  color: inherit;
}

// title fails at size 36
.app-masthead__title {
  @include govuk-font($size: 36, $weight: bold);
  margin-top: 0;

  .app-masthead--large & {
    @include nhsuk-font($size: 48, $weight: "bold");
  }
}

.app-masthead__description * {
  @include nhsuk-font($size: 19);

  .app-masthead--large * & {
    @include nhsuk-font($size: 24);
  }
}

.app-masthead__image {
  img {
    max-width: 100%;
  }
}
