$app-breadcrumbs-inverted-text-colour: nhsuk-color("white");
$app-breadcrumbs-inverted-border-colour: nhsuk-color("light-blue");

.app-breadcrumbs--inverted {
  @include nhsuk-responsive-margin(6, "bottom");
  margin-top: #{nhsuk-spacing(4) * -1};
  padding: nhsuk-spacing(3) 0 nhsuk-spacing(2);
  border-bottom: 1px solid $app-breadcrumbs-inverted-border-colour;
  color: $app-breadcrumbs-inverted-text-colour;

  @include mq ($from: tablet) {
    margin-top: #{nhsuk-spacing(6) * -1};
  }

  .nhsuk-breadcrumbs__list-item::before {
    border-color: $app-breadcrumbs-inverted-text-colour;
  }

  .nhsuk-breadcrumbs__list-item:last-child a {
    font-weight: bold;
    text-decoration: none;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $app-breadcrumbs-inverted-text-colour;
  }

  a:focus {
    color: $nhsuk-text-color;
  }
}
